nav {
  background-color: #ffffff;
}
.menu {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
ul {
  display: flex;
  gap: 20px;
}
.active {
  text-decoration: none;
  color: #10b981;
}
